<div ng-controller="DexCtlr as vm" layout="column" ng-cloak class="md-inline-form">
    <md-grid-list id="dexgrid"
                  md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="4:3"
                  md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile
                ng-click="goToSubPage(trainerID)"
                md-rowspan="1"
                md-colspan="1"
                md-colspan-sm="1"
                md-colspan-xs="1"
                class="red"
                >
            <md-icon class="gridIcon" md-svg-src="img\balls\ballpoke.svg"></md-icon>
            <md-grid-tile-footer>
                <h2 id="footerName">
                    Add Pokemon
                </h2>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile
                ng-click="goToSubmissionPage(tile.id)"
                ng-repeat="tile in vm.tiles track by $index"
                md-rowspan="{{tile.span.row}}"
                md-colspan="{{tile.span.col}}"
                md-colspan-sm="1"
                md-colspan-xs="1"
                ng-class="tile.background"
                >
            <div class="background">
                <md-fab-speed-dial md-open="tile.isOpen" md-direction="right"
                                   ng-class="" class="md-fling">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-warn">
                            <md-icon md-svg-src="img/icons/ic_menu_white_24px.svg"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="Power Up" class="md-fab md-raised md-mini md-primary">
                            <md-tooltip>
                                Power Up
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/ic_arrow_upward_white_24px.svg" aria-label="Power Up"></md-icon>

                        </md-button>

                        <md-button aria-label="Evolve" class="md-fab md-raised md-mini md-primary">
                            <md-tooltip>
                                Evolve
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/ic_bubble_chart_white_24px.svg" aria-label="Evolve"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
                <div class="info">
                    <div id="cpCont"><span id="cp">CP </span><span id="cpVal">{{tile.cp}}</span></div>
                    <div id="hpCont"><span id="hp">HP </span><span id="hpVal">{{tile.hp}}</span></div>
                </div>
            </div>
            <md-icon class="gridIcon" md-svg-src="img/pokemon151/vectorized/{{tile.img}}.svg"></md-icon>
            <md-grid-tile-footer>
                <h2 id="footerName">
                    {{tile.nickname}}
                </h2>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile
                ng-click="goToTrainerPage(trainerID)"
                md-rowspan="1"
                md-colspan="1"
                md-colspan-sm="1"
                md-colspan-xs="1"
                class="red"
                >
            <md-icon class="gridIcon" md-svg-src="img\icons\ic_arrow_back_white_24px.svg"></md-icon>
            <md-grid-tile-footer>
                <h2 id="footerName">
                    Back To Trainers
                </h2>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
